.promotion {
    width: 100%;
    min-height: 700px;
    max-height: 750px;
    background-image: url('/images/arabic-family-bg.png');
    background-position: center;
    background-size: cover;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 33px;
}